body{
    margin:0 auto;
    background-color:#f8f8f8;
}

header{
    width:100%;
    height:80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align:center;
}
header img{
    margin-top:15px;
    height:50px;
    padding-left:40px;
}

.logout{
    float:right;
    margin-top:50px;
    margin-right:20px;
    font-size:14px;
}
main{
    clear:left;
    width:100%;
}

.box{
    margin:0 auto;
    border:lightgray solid 2px;
    width:600px;
    height: 600px;
    background-color:white;
    border-radius:10px;
    margin-top:40px;
    margin-bottom:150px;
    box-shadow:4px 4px 4px lightgray;
    padding-left: 20px;
    padding-right:20px; 
}

h1{
    text-align: center;
    border-bottom: solid 1px #31A263;
    font-size:30px;
}

.hello{
    padding:10px;
    font-size: 20px;
}

.basic_info{
    float: right;
    margin-right: 40px;
}

p{
    padding: 5px;
    font-size: 17px;
    
}

.profile_pic img{
  height:150px;
  width:150px;
}

.profile_pic{
    height:150px;
    width:150px;
    padding:10px;
    margin:20px;
    border:lightgray solid 2px;
}

.button{
    margin-top: 100px;
    text-align: center;
}

.submit_button{
    border:1px solid lightgray;
    padding: 6px;
    color:white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom:solid 2px gray;
    width:200px;
    margin-bottom:20px;
}
footer{
    width:100%;
    height:40px;
    background-color: white;
    color:gray;
    text-align: center;
    line-height:40px;
    font-size: 13px;
    border-top:lightgray solid 2px;
}